<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>article</title>
</head>
<body>
    
    <ul>
        <li>
            <a href="/">Accueil</a>
        </li>
        <li>
            <a href="/contact/">Contact</a>
        </li>
        <li>
            <a href="/article/">Article</a>
        </li>
    </ul>

    <h1>Articles</h1>

    <br>
    <ul>
        <li>
            art1
        </li>
        <li>
            art2
        </li>

        <li>
            art3
        </li>

    </ul>
</body>
</html>